{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<section>
  <article>
    <heading>
    <h1>About us</h1>
    </heading>
    <p>  Have you at anytime witnessed a relative of yours or  close friend searching
            frantically for a blood donor, when blood banks say out of stock, the donors
           in mind are out of reach and the time keeps ticking? Have you witnessed loss
           of life for the only reason that a donor was not available at the most needed
           hour? Is it something that we as a society can do nothing to prevent? This -
           thought laid our foundation.
           "Save" is an organization that brings voluntary blood donors and those in need of
           blood on to a common platform.  Through this website, we seek donors who are will-
           ing to donate blood, as well as provide the timeliest support to those in frantic
           need of it.
           started in the year 2005, on 14th Nov, in a small room with just 100 voluntary don-
           ors but with the zeal to serve our society, to inspire and spread the word, we dream
           to fulfill 100% blood need in India.
           Our mission is to fulfill every blood request in the country with a promising web portal
           and motivated individuals who are willing to donate blood.

           Our vision is to be “The hope of every Indian in search of a voluntary blood donor”

          Our motto - “Donate blood to save the most precious human life”

          To be a donor!</p>

  </article>
{% endblock %}