{% extends "layout.html" %}

{% block title %}
    facts
{% endblock %}

{% block main %}

  <article>
    <heading>
    <h1>Facts</h1>
    </heading>
    <ul>
      <li>Every year our nation requires about 5 Crore units of blood, out of which only
   a meager 2.5 Crore units of blood are available.</li>
      <li>The gift of blood is the gift of life. There is no substitute for human blood.</li>
      <li>Every two seconds someone needs blood.</li>
      <li>More than 38,000 blood donations are needed every day.</li>
      <li>A total of 30 million blood components are transfused each year.</li>
      <li>The average red blood cell transfusion is approximately 3 pints.</li>
      <li>The blood type most often requested by hospitals is Type O.</li>
      <li>Sickle cell patients can require frequent blood transfusions throughout their lives.</li>
      <li>-More than 1 million new people are diagnosed with cancer each year. Many of them will
  need blood, sometimes daily, during their chemotherapy treatment.A single car accident victim
  can require as many as 100 units of blood</li>
      <li>Facts about the blood supply</li>
      <li>Blood cannot be manufactured – it can only come from generous donors.Type O-negative blood (red
  cells) can be transfused to patients of all blood types. It is always in great demand and often
  in short supply.</li></ul>

  <h1>FREQUENCY OF BLOOD TYPES</h1>
      <ul>
        <li>O+ 1 person in 3></li>
      <li>O- 1 person in 15</li>
      <li>A+ 1 person in 3</li>
      <li>A- 1 person in 16</li>
      <li>B+ 1 person in 12</li>
      <li>B- 1 person in 67</li>
      <li>AB+ 1 person in 29</li>
      <li>AB- 1 person in 167</li>
    </ul>

<h1>EXAMPLES OF BLOOD USE</h1>
<pre>
<ul>
<li>Automobile Accident         :	50 units of blood</li>
<li> Heart Surgery              :	6 units of blood / 6 units of platelets</li>
<li> Organ Transplant           :	40 units of blood / 30 units of platelets</li>
<li>20 bags of cryoprecipitate  :	25 units of fresh frozen plasma</li>
<li>Bone Marrow Transplant      :	120 units of platelets/ 20 units of blood</li>
<li>Burn Victims	              :20 units of platelets</li></ul>

  </article>
{% endblock %}