{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
  <article>
    <heading>
    <h1>Welcome to Blood Donors Network</h1>
    </heading>
    <p>We are part of “Volunteer for a Better India”, where we work towards strengthening a technology-linked platform aimed at building a country-wide network of blood donors. Till date, through this initiative thousands of people joined and many lives have received a fresh gush of blood and lives !</p>
    <p>Why should we be concerned about donating blood?</p>

      <ul>
        <li>Our nation requires 4 Crore Units of Blood while only 40 lakh units are available</li>
       <li> Every two seconds someone needs Blood</li>
        <li>There is no substitute for Human Blood. It cannot be manufactured</li>
         <li>Blood donation is an extremely noble deed, yet there is a scarcity of regular donors across India.</li>
         </ul>
      <p>Through this digital platform, we urge you to fulfill your supreme duty as a human being; to save a life, by becoming a proud registered volunteer.</p>
      <ul>
        <li>You may register as blood donor (Your 1 unit of blood can save 3 lives)</li>
       <li> Share opportunity with others – Build blood donors network in your city/town by clicking  “Register Your friend”</li>

         </ul>
  </article>
  </section>



</body>
</html>
{% endblock %}
