{% extends "layout.html" %}

{% block title %}
    vission
{% endblock %}

{% block main %}


  <article>
    <heading>
    <h1>Vission</h1>
    </heading>
    <p>Save life india  vision is:
To pave way for a safer and better tommorrow.

Safer, by bringing blood donors and those in need to a common platform.
Better, by providing every person what he/she deserves the most, best education.
Our aim in next 5 years,
To be the real hope of every Indian in search of a voluntary blood donor.
To set up a well organised infrastructure through out the country to cater to the
education of the under resourced by way of maintaining a repository of contributed
books and providing as many resources as possible for rural child education.</p>

<h1>MISSION :</h1>
<p>To make the best use of contemporary technologies in delivering a promising web portal
to bring together all the blood donors in India; thereby fulfilling every blood request
in the country.
To provide a common platform for those who have a zeal to support education of the under
resourced yet meritorious students.
</p>
VALUES :
<ul>
  <li>Dignity</li>
  <li>Excellence</li>
  <li>Diversity</li>
  <li>Individual and team work</li>
  <li>Compassion</li>
  <li>Advance</li>
  <li>Trust</li>
  <li>Integrity</li>
  <li>Oblige</li>
  <li>Network</li></ul>

  </article>
{% endblock %}
