{% extends "layout.html" %}

{% block title %}
    whocan
{% endblock %}

{% block main %}

  <article>
    <heading>
    <h1>Who can/ can't donate</h1>
    </heading>

  <h1 style="color:green">Can...</h1></h1>
<p>Let others benefit from your good health. Do donate blood if ...</p>
<ul>
  <li>you are between age group of 18-60 years.</li>
<li>your weight is 45 kgs or more</li>
<li>your haemoglobin is 12.5 gm% minimum.</li>
<li>your last blood donation was 3 months earlier.</li>
<li>you are healthy and have not suffered from malaria, typhoid or other transmissible disease in the recent past.
There are many, many people who meet these parameters of health and fitnesDo abide by our rules</li>
<li>be truthful about your health status!</li>
<li>We ensure the health of blood, before we take it, as well as after it is collected.</li>
<li>Firstly, the donor is expected to be honest about his or her health history and current condition. Secondly, collected blood is tested for venereal diseases, hepatitis B & C and AIDS.</li>
<li>You have to be healthy to give 'safe blood'.</li></ul>
<h1 style="color:red">Can't....</h1>
<ul>
<li>Do not donate blood if you have any of these conditions</li>
<li>cold / fever in the past 1 week.</li>
<li>under treatment with antibiotics or any other medication.</li>
<li>cardiac problems, hypertension, epilepsy, diabetes (on insulin therapy), history of cancer</li>
<li>chronic kidney or liver disease, bleeding tendencies, venereal disease etc.</li>
<li>major surgery in the last 6 months.</li>
<li>vaccination in the last 24 hours.</li>
<li>had a miscarriage in the last 6 months or have been pregnant / lactating in the last one year.</li>
<li>had fainting attacks during last donation.</li>
<li>have regularly received treatment with blood products.</li>
<li>shared a needle to inject drugs/ have history of drug addiction.</li>
<li>had sexual relations with different partners or with a high risk individual.</li>
<li>been tested positive for antibodies to HIV.</li>
<li>>Pregnancy And Menstrual Cycle</li>
<li>>Females should not donate blood during pregnancy.</li>
<li>They can donate after 6 months following a normal delivery and when they are not breast feeding.</li>
<li>Females should not donate blood if they are having heavy menstrual flow or menstrual cramps.</li>


  </article>
{% endblock %}